.card {
    height: 160px;
    width: 120px;
    margin: 10px;
    border-radius: 20px;
    border-width: 0.5px;
    border: 1px solid #ececec;
    background-color: white;
}
.icon {
    height: 60px;
    width: 60px;
}